img {
	width: 100%;
	height: auto;
}

* {
    font-family: arial;
	
  }

body {
    width: 100%;
    height: 1080px;
    background-image: url("taustakuva.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;   
}

ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: transparent;
	overflow: hidden;	
}

li {
	display: inline-block;
}

li a {
	 color: #000;
	 font-size: 40px;
	 padding: 20px;
	 text-decoration: none;	 
}

li a.active {
     background-color: transparent;
	 color: white;
}

li a:hover:not(.active) {
     background-color: transparent;
     color: white;
}

h1 {
    font-size: 60px;
    text-align: center}
h2 {
    font-size: 30px;
    text-align: center
}
h3 {
    font-size: 30px;
    text-align: center
}
P {
    font-size: 30px; 
    text-align: center

    
}
h4 {
	font-size: 15px;
	color: white;
	position: fixed;
	height: 40px; 
    position: fixed; 
    bottom:0%;
    width:auto; 
    background-color: transparent; 
    
	

}

	
